NET "clk"					LOC = AC18      | IOSTANDARD = LVCMOS18 ;
NET "rst_n"					LOC = W13       | IOSTANDARD = LVCMOS18 ;
NET "clk"		 			TNM_NET = TM_CLK ;
TIMESPEC TS_CLK_100M 	 	= PERIOD "TM_CLK"       10 ns HIGH 50%;

NET "led_clk"				LOC = N26       | IOSTANDARD = LVCMOS33 ;
NET "led_clr_n"				LOC = N24       | IOSTANDARD = LVCMOS33 ;
NET "led_do"				LOC = M26       | IOSTANDARD = LVCMOS33 ;
NET "led_pen"				LOC = P18       | IOSTANDARD = LVCMOS33 ;

NET "seg_clk"				LOC = M24       | IOSTANDARD = LVCMOS33 ;
NET "seg_clr_n"				LOC = M20       | IOSTANDARD = LVCMOS33 ;
NET "seg_do"				LOC = L24       | IOSTANDARD = LVCMOS33 ;
NET "seg_pen"				LOC = R18       | IOSTANDARD = LVCMOS33 ;

NET "tri_led0_r_n"			LOC = U21       | IOSTANDARD = LVCMOS33 ;
NET "tri_led0_g_n"			LOC = U22       | IOSTANDARD = LVCMOS33 ;
NET "tri_led0_b_n"			LOC = V22       | IOSTANDARD = LVCMOS33 ;
NET "tri_led1_r_n"			LOC = U24       | IOSTANDARD = LVCMOS33 ;
NET "tri_led1_g_n"			LOC = U25       | IOSTANDARD = LVCMOS33 ;
NET "tri_led1_b_n"			LOC = V23       | IOSTANDARD = LVCMOS33 ;

NET "btn_x[0]"				LOC = V17       | IOSTANDARD = LVCMOS18 ;
NET "btn_x[1]"				LOC = W18       | IOSTANDARD = LVCMOS18 ;
NET "btn_x[2]"				LOC = W19       | IOSTANDARD = LVCMOS18 ;
NET "btn_x[3]"				LOC = W15       | IOSTANDARD = LVCMOS18 ;
NET "btn_x[4]"				LOC = W16       | IOSTANDARD = LVCMOS18 ;
NET "btn_y[0]"				LOC = V18       | IOSTANDARD = LVCMOS18 ;
NET "btn_y[1]"				LOC = V19       | IOSTANDARD = LVCMOS18 ;
NET "btn_y[2]"				LOC = V14       | IOSTANDARD = LVCMOS18 ;
NET "btn_y[3]"				LOC = W14       | IOSTANDARD = LVCMOS18 ;

NET "switch[0]"				LOC = AA10      | IOSTANDARD = LVCMOS15 ;
NET "switch[1]"				LOC = AB10      | IOSTANDARD = LVCMOS15 ;
NET "switch[2]"				LOC = AA13      | IOSTANDARD = LVCMOS15 ;
NET "switch[3]"				LOC = AA12      | IOSTANDARD = LVCMOS15 ;
NET "switch[4]"				LOC = Y13       | IOSTANDARD = LVCMOS15 ;
NET "switch[5]"				LOC = Y12       | IOSTANDARD = LVCMOS15 ;
NET "switch[6]"				LOC = AD11      | IOSTANDARD = LVCMOS15 ;
NET "switch[7]"				LOC = AD10      | IOSTANDARD = LVCMOS15 ;
NET "switch[8]"				LOC = AE10      | IOSTANDARD = LVCMOS15 ;
NET "switch[9]"				LOC = AE12      | IOSTANDARD = LVCMOS15 ;
NET "switch[10]"			LOC = AF12      | IOSTANDARD = LVCMOS15 ;
NET "switch[11]"			LOC = AE8       | IOSTANDARD = LVCMOS15 ;
NET "switch[12]"			LOC = AF8       | IOSTANDARD = LVCMOS15 ;
NET "switch[13]"			LOC = AE13      | IOSTANDARD = LVCMOS15 ;
NET "switch[14]"			LOC = AF13      | IOSTANDARD = LVCMOS15 ;
NET "switch[15]"			LOC = AF10      | IOSTANDARD = LVCMOS15 ;

NET "uart_rx"				LOC = L25       | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "uart_tx"				LOC = P24       | IOSTANDARD = LVCMOS33 ;
#NET "uart_rx"				LOC = W21       | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "uart_tx"				LOC = V21       | IOSTANDARD = LVCMOS33 ;

#NET "keyboard_clk"			LOC = P25       | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "keyboard_dat"			LOC = N19       | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "keyboard_clk"			LOC = N18       | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "keyboard_dat"			LOC = M19       | IOSTANDARD = LVCMOS33 | PULLUP ;

NET "vga_blue[0]"			LOC = T20       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_blue[1]"			LOC = R20       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_blue[2]"			LOC = T22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_blue[3]"			LOC = T23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_green[0]"			LOC = R22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_green[1]"			LOC = R23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_green[2]"			LOC = T24       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_green[3]"			LOC = T25       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_red[0]"			LOC = N21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_red[1]"			LOC = N22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_red[2]"			LOC = R21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_red[3]"			LOC = P21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_h_sync"			LOC = M22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "vga_v_sync"			LOC = M21       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;

NET "flash_ce_n[0]"			LOC = D11       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_ce_n[1]"			LOC = F14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[0]"			LOC = C12       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[1]"			LOC = J11       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[2]"			LOC = H13       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[3]"			LOC = H12       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[4]"			LOC = J13       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[5]"			LOC = H11       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[6]"			LOC = J10       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[7]"			LOC = J8        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[8]"			LOC = F9        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[9]"			LOC = F8        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[10]"		LOC = E10       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[11]"		LOC = F10       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[12]"		LOC = D9        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[13]"		LOC = D8        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[14]"		LOC = G14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[15]"		LOC = H14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[16]"		LOC = B9        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[17]"		LOC = G11       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[18]"		LOC = H9        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[19]"		LOC = G12       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[20]"		LOC = F12       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[21]"		LOC = H8        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[22]"		LOC = A8        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[23]"		LOC = C9        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[24]"		LOC = D10       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_addr[25]"		LOC = A9        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[0]"			LOC = D14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[1]"			LOC = D13       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[2]"			LOC = E13       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[3]"			LOC = E12       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[4]"			LOC = C14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[5]"			LOC = C13       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[6]"			LOC = B12       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[7]"			LOC = B11       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[8]"			LOC = B14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[9]"			LOC = A14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[10]"		LOC = B10       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[11]"		LOC = A10       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[12]"		LOC = B15       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[13]"		LOC = A15       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[14]"		LOC = A13       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[15]"		LOC = A12       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[16]"		LOC = J14       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[17]"		LOC = J25       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[18]"		LOC = C18       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[19]"		LOC = J23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[20]"		LOC = K23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[21]"		LOC = B17       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[22]"		LOC = L22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[23]"		LOC = D15       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[24]"		LOC = H22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[25]"		LOC = K15       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[26]"		LOC = J24       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[27]"		LOC = K22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[28]"		LOC = C17       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[29]"		LOC = D16       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[30]"		LOC = A17       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_data[31]"		LOC = L23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_oe_n"			LOC = F13       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_rst_n"			LOC = G9        | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_ready[0]"		LOC = C11       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_ready[1]"		LOC = E11       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "flash_we_n"			LOC = G10       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;

NET "sram_ce_n"				LOC = E15       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[0]"			LOC = D20		| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[1]"			LOC = D18       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[2]"			LOC = E16       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[3]"			LOC = E18       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[4]"			LOC = E17       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[5]"			LOC = E20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[6]"			LOC = F15       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[7]"			LOC = F18       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[8]"			LOC = H19       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[9]"			LOC = J16       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[10]"			LOC = J18       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[11]"			LOC = J20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[12]"			LOC = G19       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[13]"			LOC = H17       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[14]"			LOC = F20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[15]"			LOC = G17       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[16]"			LOC = F17       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[17]"			LOC = F19       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[18]"			LOC = H18       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_addr[19]"			LOC = G20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ; #_G2 (-BV1XI)
#NET "sram_addr[19]"			LOC = K20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ; #_H6
NET "sram_data[0]"			LOC = M16		| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[1]"			LOC = L19       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[2]"			LOC = L17       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[3]"			LOC = K18       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[4]"			LOC = L18       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[5]"			LOC = K17       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[6]"			LOC = K16       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[7]"			LOC = M17       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[8]"			LOC = H26       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[9]"			LOC = H23       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[10]"			LOC = H21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[11]"			LOC = J26       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[12]"			LOC = L20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[13]"			LOC = J19       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[14]"			LOC = J21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[15]"			LOC = K21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[16]"			LOC = B26       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[17]"			LOC = C22       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[18]"			LOC = A24       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[19]"			LOC = A23       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[20]"			LOC = E22       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[21]"			LOC = E23       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[22]"			LOC = C24       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[23]"			LOC = D23       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[24]"			LOC = B20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[25]"			LOC = A20       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[26]"			LOC = C21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[27]"			LOC = B21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[28]"			LOC = A22       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[29]"			LOC = B22       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[30]"			LOC = D21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[31]"			LOC = E21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[32]"			LOC = H24       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[33]"			LOC = E26       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[34]"			LOC = G25       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[35]"			LOC = F24       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[36]"			LOC = F25       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[37]"			LOC = G24       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[38]"			LOC = G21       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[39]"			LOC = G26       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[40]"			LOC = F22       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[41]"			LOC = G22       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[42]"			LOC = C26       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[43]"			LOC = D24       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[44]"			LOC = E25       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[45]"			LOC = F23       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[46]"			LOC = D25       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_data[47]"			LOC = D26       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_oe_n"				LOC = D19      	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
NET "sram_we_n"				LOC = J15       | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 4 ;
